**`fake news detection`**

In [1]:
pip install stopwords

Collecting stopwordsNote: you may need to restart the kernel to use updated packages.

  Downloading stopwords-1.0.0-py2.py3-none-any.whl (37 kB)
Installing collected packages: stopwords
Successfully installed stopwords-1.0.0

In [2]:
pip install nltk

Requirement already satisfied: nltk in c:\users\anike\anaconda3\lib\site-packages (3.7)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: joblib in c:\users\anike\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in c:\users\anike\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\anike\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: click in c:\users\anike\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in c:\users\anike\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk

# NLP libraries to clean the text data
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re

# Vectorization technique TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

# For Splitting the dataset
from sklearn.model_selection import train_test_split

# Model libraries
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

#Accuracy measuring library
from sklearn.metrics import accuracy_score

In [6]:
data=pd.read_csv("C:\\Users\\anike\\Downloads\\fake (1).csv",engine='python', error_bad_lines=False)

C:\Users\anike\AppData\Local\Temp\ipykernel_7356\2338144307.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data=pd.read_csv("C:\\Users\\anike\\Downloads\\fake (1).csv",engine='python', error_bad_lines=False)

In [7]:
data.shape

(4009, 4)

In [8]:
data.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [9]:
data.isnull().sum()

URLs         0
Headline     0
Body        21
Label        0
dtype: int64

 **DATA PREPROCESSING**

**INCLUDES:**

1) Removing the Null values

2) Adding a new field

3) Drop features that are not needed

4) Text Processing

In [10]:
df = data.copy()

In [11]:
## 1) Removing the Null Values
df['Body'] = df['Body'].fillna('')

In [12]:
df.isnull().sum()

URLs        0
Headline    0
Body        0
Label       0
dtype: int64

In [13]:

## 2) Adding a new column


df['News'] = df['Headline']+df['Body']

In [14]:
df.head()

,URLs,Headline,Body,Label,News
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1,Four ways Bob Corker skewered Donald TrumpImag...
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1,Linklater's war veteran comedy speaks to moder...
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1,Trump’s Fight With Corker Jeopardizes His Legi...
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1,Egypt's Cheiron wins tie-up with Pemex for Mex...
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1,Jason Aldean opens 'SNL' with Vegas tributeCou...

In [15]:

## 3) Drop features that are not needed

features_dropped = ['URLs','Headline','Body']
df = df.drop(features_dropped, axis =1)

**Text Processing**

Remove symbols(',','-',...etc)

Remove stop words

Stemming

In [16]:
ps = PorterStemmer()
def wordopt(text):
    text = re.sub('[^a-zA-Z]', ' ',text)
    text = text.lower()
    text = text.split()
    text = [ps.stem(word) for word in text if not word in stopwords.words('english')]
    text = ' '.join(text)
    return text

In [17]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\anike\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [18]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

In [ ]:
df['News'] = df['News'].apply(wordopt)

In [ ]:
df.head()

In [ ]:
X = df['News']
Y = df['Label']

In [ ]:
#Split the data into training and test set
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)

"""**Vectorization**

This is used to handle our text data, by converting it into vectors 
"""

In [ ]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)


"""**Model Fitting**

I will be fitting my data onto 3 classifications models

RandomForestClassifier SVM Logistic Regression The best one amongst the 3 will be used further
"""

In [ ]:
RFC_model = RandomForestClassifier(random_state=0)

#Fitting training set to the model
RFC_model.fit(xv_train, y_train)

#Predicting the test set results based on the model
rfc_y_pred = RFC_model.predict(xv_test)

In [ ]:
#Calculate the accuracy score of this model
score = accuracy_score(y_test,rfc_y_pred)
print('Accuracy of RFC model is ', score)

In [ ]:
svm_model = SVC(kernel='linear')

#Fitting training set to the model
svm_model.fit(xv_train,y_train)

#Predicting the test set results based on the model
svm_y_pred = svm_model.predict(xv_test)

In [ ]:

#Calculate the accuracy score of this model
score = accuracy_score(y_test,svm_y_pred)
print('Accuracy of SVM model is ', score)

In [ ]:
LR_model = LogisticRegression()
#Fitting training set to the model
LR_model.fit(xv_train,y_train)

#Predicting the test set results based on the model
lr_y_pred = LR_model.predict(xv_test)

In [ ]:

#Calculate the accurracy of this model
score = accuracy_score(y_test,lr_y_pred)
print('Accuracy of LR model is ', score)

**Manual Model Testing**

In [ ]:
# As SVM is able to provide best results - SVM will be used to check the news liabilit
def fake_news_det(news):
    input_data = {"text":[news]}
    new_def_test = pd.DataFrame(input_data)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    #print(new_x_test)
    vectorized_input_data = vectorization.transform(new_x_test)
    prediction = svm_model.predict(vectorized_input_data)
    
    if prediction == 1:
        print("Not a Fake News")
    else:
        print("Fake News")

In [ ]:
fake_news_det('Teacher Sparks Outrage By Asking Kids To Make Nazi Mascots')